@mixin center-position($display:block){
    padding: 2% 10%;
    width: 80%;
    display: $display;
}

@mixin flex-position($direction:column, $justify: center, $align: center){
    display:flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}