@import 'config';
@import './components/header';
@import './components/hero';
@import './components/aboutme';
@import './components/skills';
@import './components/education';
@import './components/work';
@import './components/footer';
@import 'mixins';

/*--------GLOBAL------------*/

a{
    text-decoration: none;
    color: $black; 
}

a:hover{
    color: $active-color;
}

li{
    text-decoration: none;
    list-style: none;
}

hr {
    width: 100%;
}

p{
    color: $text-color;
    line-height: 1.6rem;
}

// /*--------Header------------*/
body{
    margin: 0 auto;
    padding: 0;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
    min-height: 100%;
    background-color: $white;
    background-image: url("https://www.transparenttextures.com/patterns/worn-dots.png");
        // max-width: 1440px;
    width: 100%;
}