.education-section{
    @include center-position;
    &__description{
        text-align: center;
        width: 50%;
        margin: 2rem auto;
    }
    &__cards{
        display: flex;
        justify-content: space-around;
        text-align: center;
    }
    &__card{
        width:25%;
        height: 100%;
        padding: 2rem;
        box-shadow: 2px 5px 6px $shadow-color;
        background-color: $second-color;
        color: $white;
        border-radius: 1rem;
        p{
            color:$white;
        }
    }
}