/*--------Contact Me------------*/
.contact-me{
    @include center-position;
    text-align: center;
    background-color: $second-color-opaq;
    .btn{
        display: inline-block;
        margin:1rem;
        padding: 1rem 1.5rem;
        cursor: pointer;
        font-weight: bold;
        box-shadow: 2px 5px 6px $shadow-color;
        border-radius: 0.3rem;
        color: $white;
        background-color: $base-color;
        border: 2px solid transparent;
    }
    .btn:hover{
        color: $base-color;
        border: 2px solid $base-color;
        background-color: $white;
        transition: all 0.3s ease 0s;
    }
}

/*--------Footer------------*/
.footer{
    padding: 0 0 1rem 0;
    text-align: center;
    background-color: $second-color-opaq;
    &__link{
        padding:1rem;
        img{
            width:2%;
        }
    }
    &__copyright{
        font-size: 0.8rem;
        color: $white;
    }
}