@import '../mixins';

.skills{
    @include center-position($display:flex);
    h1{
        text-align: center;
    }
    &__tech{
        width:50%;
        padding: 1rem;
        .html {width: 90%}
        .css {width: 70%}
        .js {width: 60%}
        .react {width: 40%}
    }
    &__bar {
        background-color: $text-color;
        &__percentage{
            text-align: right;
            padding: 0.2rem 0;
            color: $white; 
            background-color:$active-color;
        }
    }
    &__prof{
        width: 50%;
        padding: 1rem;
    }
    &__grid{
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 1rem;
        &-item{
            padding: 1rem;
            text-align: center;
            img{
                width: 30%;
            }
            p{
                width: auto;
            }
        }   
    }
}

@media only screen and (max-width: 480px) {
    .skills{
        flex-direction: column;
        align-items: center;
    }
    .skills > div{
        width: 100%;
    }
}