@import '../mixins';

.work-section{
    @include center-position;
    @include flex-position;
    &__container{
        width: 60%;
        padding: 1rem;
    }
    &__title{
        font-size: 1.2rem;
        cursor: pointer;
        padding: 1rem 0;
    }
    &__title:hover{
        color: $active-color;
    }
}

@media only screen and (max-width: 480px) {
    .work-section{
        &__container{
            width: 80%;
            padding: 1rem;
        }
    }
}